<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="About.css">
</head>
<body>
    <nav>
            <div class="Main_Logo">E MINDS</div>
            <ul>
                <li><a href="">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/auth/HomeNav">Home</a></li>
                
            </ul>
            <a href="/auth/profile" class="button">My propfile</a>  
            <img src="/Photos/Logo2black.png" class="logo2">
                
        </nav>
    <div class="text-box">
        <br>
        <p>An online forum is an internet space structured around 
            and dedicated to conversation, usually through posting 
            questions, answers and respones.
           </p>
           <p>By archiving part responses and arranging parts
            a forum can host an engaging discussion that is carried out our days, months or even years.
        </p>
        <p>In educational contexts online discussion forums are 
            typically housed within a learning management system.</p>
           <p>An online hub, called forum , where users post messages
            to hold a discussion around a given topic.
           </p>
            <p>Online forums do not usually happen in real time.</p>
           
           
        </div>
</body>
</html>