<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="Contact.css">
</head>
<body>
     <nav>
            <div class="Main_Logo">E MINDS</div>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="/auth/HomeNav">Home</a></li>
                {{!-- <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>  --}}
            </ul>
            <a href="/auth/profile" class="button">My propfile</a>  
            <img src="/Photos/Logo2black.png" class="logo2">
                
        </nav>
<div class="contact_box">
    <p>Our friendly team would love to hear from You.</p>
    <p>Ph.no</p>
    <p>+91 7654321098 , +91 9876543210</p>
    <p>email</p>
    <p><a href="#"> person1@gmail.com</a></p>
    <p><a href="#"> person2@gmail.com</a></p>
</div>

</body>
</html>