<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Index Page</title>
    <link rel="stylesheet" href="/IndexStyle.css" />
</head>
<body>
    <div class="container">
        <nav>
            <img src="./Photos/logo-removebg-preview.png" class="logo">
            <a href="login" class="button">LogIn/SignUp</a>
            <img src="./Photos/Logo2black.png" class="logo2">
        </nav>
        <div class="text-box">
            <p>Welcome to</p>
            <h1>E MINDS</h1>
            <br>
            <h3>Any Questions?... JUST TYPE </h3>
            <br>
            <h4>Discuss your favourite topics or doubts with others<br>and improve your knowledge</h4>
            <br>
        </div>
    </div>





</body>
</html>